<% provide(:title, 'All users') %>
<h1><%= yield(:title) %></h1>

<%= will_paginate %>

<ul class="users">
		<%= render @users %>
		<% 
			# The line above reads as following:
		  # <? @users.each do |user| ?>
      #   <?= render user ?>
  		# <? end ?>
  		%>
</ul>

<%= will_paginate %>