
$(document).ready(function() {  
  
    $('textarea[maxlength]').keyup(function(){  
        //get the limit from maxlength attribute  
        var limit = parseInt($(this).attr('maxlength'));  
        //get the current text inside the textarea  
        var text = $(this).val();  
        //count the number of characters in the text  
        var chars = text.length;  
  
        //check if there are more characters then allowed  
        if(chars > limit){  
            //and if there are use substr to get the text before the limit  
            var new_text = text.substr(0, limit);  
  
            //and change the current text with the new text  
            $(this).val(new_text);

        }

        var counter_id = this.id + '_counter';
        var counter_content = chars + '/' + <%= "\'" + MICROPOST_CONTENT_MAXLENGTH.to_s + "\'" %>;

        if( $('#' + counter_id)[0]){
            $('#' + counter_id).text(counter_content);
        }else{
            $('<span class="pull-right" id="' + counter_id + '">' + counter_content + '</span>').insertAfter($(this));
            console.log('after');
        }

    });  
    
    // Trigger keyup once to make sure counter element is created ()
    $('textarea[maxlength]').trigger('keyup');
  
});